<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.bill.mapper.YxWxUserBillMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_uid, username, title, bill_type, pm, bill_number, balance, mark, brokerage_type, link_id, order_id, del_flag, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="getYxWxUserBillById" resultType="co.yixiang.modules.bill.web.vo.YxWxUserBillQueryVo">
        select <include refid="Base_Column_List"/> from yx_wx_user_bill where id = #{id}
    </select>

    <select id="getYxWxUserBillPageList" resultType="co.yixiang.modules.bill.web.vo.YxWxUserBillQueryVo">
        select <include refid="Base_Column_List"/> from yx_wx_user_bill
    </select>

</mapper>
