<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreInfoMapper">

    <!-- 通用查询结果列 -->
    <select id="getLocalLiveList" resultType="co.yixiang.modules.coupons.web.vo.LocalLiveListVo">
        select
        distinct ysi.*
        <if test ="param.lnt  != '' and param.lnt != null">
        ,ST_Distance_Sphere (POINT(#{param.lnt},#{param.lat}),coordinate) distance
        </if>
        from yx_store_info ysi
        <if test ="param.salesOrder != '' and param.salesOrder != null">
            left join (select sum((sales+ficti)) as totalSales , store_id from yx_coupons group by store_id) yc on
            ysi.id = yc.store_id
        </if>
        left join yx_coupons ycd on ycd.store_id = ysi.id and ycd.is_show = 1
        where ysi.status = 0 and ysi.del_flag = 0 and ycd.expire_date_end <![CDATA[ >= ]]> now()
        <if test="param.keyword != '' and param.keyword != null">
            and (ysi.store_name LIKE CONCAT('%',#{param.keyword},'%') or ycd.coupon_name LIKE
            CONCAT('%',#{param.keyword},'%'))
        </if>
        <if test="param.sid != '' and param.sid != null and param.sid != '0' and param.sid != 0">
            and  ycd.coupon_category = #{param.sid}
        </if>
        <choose>
            <when test ="param.salesOrder != '' and param.salesOrder != null">
                <if test ="param.salesOrder == 'desc'">
                    order by totalSales desc;
                </if>
                <if test ="param.salesOrder == 'asc'">
                    order by totalSales asc;
                </if>
            </when>

            <when test ="param.distanceOrder != '' and param.distanceOrder != null">
                <if test ="param.distanceOrder == 'desc'">
                    order by distance desc;
                </if>
                <if test ="param.distanceOrder == 'asc'">
                    order by distance asc;
                </if>
            </when>



            <when test ="param.priceOrder != '' and param.priceOrder != null">
                <if test ="param.priceOrder == 'desc'">
                    order by per_capita desc;
                </if>
                <if test ="param.priceOrder == 'asc'">
                    order by per_capita asc;
                </if>
            </when>

            <otherwise>
                order by ysi.create_time desc;
            </otherwise>
        </choose>

    </select>

    <sql id="Base_Column_List">
        id, store_nid, store_name, manage_user_name, mer_id, partner_id, manage_mobile, store_mobile, status, per_capita, industry_category, store_province, store_address, coordinate, coordinate_x, coordinate_y, del_flag, create_user_id, update_user_id, create_time, update_time, introduction
    </sql>
    <sql id="Base_Column_List_Store">
        id, store_nid, store_name, manage_user_name, mer_id, partner_id, manage_mobile, store_mobile, status, per_capita, industry_category, store_province, store_address, coordinate, coordinate_x, coordinate_y, del_flag, create_user_id, update_user_id, create_time, update_time, introduction
    </sql>
    <select id="getYxStoreInfoById" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_info where id = #{id}
    </select>

    <select id="getYxStoreInfoPageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_info
    </select>

    <select id="getYxStoreInfoByPoint" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        SELECT
        *,
        ST_Distance_Sphere (
        POINT(#{lnt},#{lat}),
        coordinate
        ) a
        FROM
        yx_store_info
        WHERE
        ST_Distance_Sphere (
        POINT(#{lnt},#{lat}),
        coordinate
        ) <![CDATA[ <= ]]> 1000
        order by a
    </select>

    <select id="selectInfoListBySales" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        SELECT
            si.id,
            si.store_nid,
            si.store_name,
            si.manage_user_name,
            si.mer_id,
            si.partner_id,
            si.manage_mobile,
            si.store_mobile,
            si. STATUS,
            si.per_capita,
            si.industry_category,
            si.store_province,
            si.store_address,
            si.coordinate,
            si.coordinate_x,
            si.coordinate_y,
            si.del_flag,
            si.create_user_id,
            si.update_user_id,
            si.create_time,
            si.update_time,
            si.introduction,
            IFNULL(SUM(sp.sales), 0) AS sales
        FROM
            yx_store_info si
        LEFT JOIN yx_store_product sp ON sp.store_id = si.id
        where si.del_flag = 0 and si.`status` = 0
        <if test ="storeName !='' and storeName != null"> and si.store_name LIKE CONCAT('%',#{storeName},'%') </if>
        GROUP BY
            si.id
        ORDER BY
            sales ${sort},
            si.create_time DESC;
    </select>

    <select id="selectInfoListBySocre" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        SELECT
            si.id,
            si.store_nid,
            si.store_name,
            si.manage_user_name,
            si.mer_id,
            si.partner_id,
            si.manage_mobile,
            si.store_mobile,
            si.`status`,
            si.per_capita,
            si.industry_category,
            si.store_province,
            si.store_address,
            si.coordinate,
            si.coordinate_x,
            si.coordinate_y,
            si.del_flag,
            si.create_user_id,
            si.update_user_id,
            si.create_time,
            si.update_time,
            si.introduction,
            IFNULL(
                SUM(
                    spr.product_score + service_score
                ),
                0
            ) AS socre
        FROM
            yx_store_info si
        LEFT JOIN yx_store_product_reply spr ON si.mer_id = spr.mer_id
        where si.del_flag = 0 and si.`status` = 0
        <if test ="storeName !='' and storeName != null"> and si.store_name LIKE CONCAT('%',#{storeName},'%') </if>
        GROUP BY
            si.id
        ORDER BY
            socre ${sort},
            si.create_time DESC;
    </select>

    <select id="selectStoreInfoVoList"  resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        SELECT
        si.id,
        si.store_nid,
        si.store_name,
        si.manage_user_name,
        si.mer_id,
        si.partner_id,
        si.manage_mobile,
        si.store_mobile,
        si.`status`,
        si.per_capita,
        si.industry_category,
        si.store_province,
        si.store_address,
        si.coordinate,
        si.coordinate_x,
        si.coordinate_y,
        si.del_flag,
        si.create_user_id,
        si.update_user_id,
        si.create_time,
        si.update_time,
        si.introduction,
        spn.salesCount as salesCount,
        IFNULL(spr.replyCount,0) AS replyCount
        FROM
        yx_store_info si
        LEFT JOIN (
        SELECT
        IFNULL(SUM(sp.sales), 0) AS salesCount,
        store_id,
        COUNT(sp.id) AS productCount
        FROM
        yx_store_product sp
        GROUP BY
        sp.store_id
        ) AS spn ON spn.store_id = si.id
        LEFT JOIN (
        SELECT
        ROUND(
        AVG(
        product_score + service_score
        ),
        1
        ) AS replyCount,
        mer_id
        FROM
        yx_store_product_reply
        GROUP BY
        mer_id
        ) AS spr ON si.mer_id = spr.mer_id
        WHERE
        si.del_flag = 0
        AND si.`status` = 0
        <if test ="storeName !='' and storeName != null"> and si.store_name LIKE CONCAT('%',#{storeName},'%') </if>
        GROUP BY
            si.id
        ORDER BY
        <if test ="scoreOrder !='' and scoreOrder != null ">  replyCount ${scoreOrder}, </if>
        <if test ="salesOrder !='' and salesOrder != null ">   salesCount ${salesOrder}, </if>
        si.create_time DESC;
    </select>
</mapper>
