<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_nid, store_name, manage_user_name, mer_id, partner_id, manage_mobile, store_mobile, status, per_capita, industry_category, img_url, store_province, store_address, coordinate, del_flag, create_user_id, update_user_id, create_time, update_time, introduction
    </sql>

    <select id="getYxStoreInfoById" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_info where id = #{id}
    </select>

    <select id="getYxStoreInfoPageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreInfoQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_info
    </select>

</mapper>
