<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreAttributeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, attribute_value1, attribute_value2, attribute_type, del_flag, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="getYxStoreAttributeById" resultType="co.yixiang.modules.shop.web.vo.YxStoreAttributeQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_attribute where id = #{id}
    </select>

    <select id="getYxStoreAttributePageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreAttributeQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_attribute
    </select>

</mapper>
