<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.system.mapper.YxRefundReasonMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reason, reason_type, del_flag, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="getYxRefundReasonById" resultType="co.yixiang.modules.system.web.vo.YxRefundReasonQueryVo">
        select <include refid="Base_Column_List"/> from yx_refund_reason where id = #{id}
    </select>

    <select id="getYxRefundReasonPageList" resultType="co.yixiang.modules.system.web.vo.YxRefundReasonQueryVo">
        select <include refid="Base_Column_List"/> from yx_refund_reason
    </select>

</mapper>
