<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.coupons.mapper.YxCouponsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_num, coupon_name, coupon_type, coupon_category, denomination, discount, threshold, discount_amount, selling_price, original_price, settlement_price, commission, quantity_limit, inventory, sales, ficti, write_off, expire_date_start, expire_date_end, is_hot, is_show, outtime_refund, need_order, aways_refund, use_condition, available_time_start, available_time_end, del_flag, create_user_id, update_user_id, create_time, update_time, content
    </sql>

    <select id="getYxCouponsById" resultType="co.yixiang.modules.coupons.web.vo.YxCouponsQueryVo">
        select <include refid="Base_Column_List"/> from yx_coupons where id = #{id}
    </select>

    <select id="getYxCouponsPageList" resultType="co.yixiang.modules.coupons.web.vo.YxCouponsQueryVo">
        select <include refid="Base_Column_List"/> from yx_coupons
    </select>

</mapper>
