<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.ship.mapper.YxShipOperationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, batch_no, ship_id, ship_name, captain_id, captain_name, total_passenger, old_passenger, underage_passenger, leave_time, return_time, status, del_flag, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="getYxShipOperationById" resultType="co.yixiang.modules.ship.web.vo.YxShipOperationQueryVo">
        select <include refid="Base_Column_List"/> from yx_ship_operation where id = #{id}
    </select>

    <select id="getYxShipOperationPageList" resultType="co.yixiang.modules.ship.web.vo.YxShipOperationQueryVo">
        select
        <include refid="Base_Column_List"/>
        from yx_ship_operation
    </select>

    <select id="getYxShipOpeartionVoPageList" resultType="co.yixiang.modules.ship.web.vo.YxShipOpeartionVo">
        select
        <include refid="Base_Column_List"/>
        from yx_ship_operation where del_flag = 0
        <if test="param.captainId !='' and param.captainId != null"> and captain_id = #{param.captainId} </if>

        <if test="param.shipIdList != null">
            and ship_id IN
            <foreach item='shipId' index='index' collection='param.shipIdList ' open='(' separator=',' close=')'>
                #{shipId}
            </foreach>
        </if>
        <if test="param.status != null">
            <if test="param.status == 3"> and status!=0 </if>
        </if>
        <if test="param.startTime !='' and param.startTime != null "> and create_time <![CDATA[ >= ]]> #{param.startTime} </if>
        <if test="param.endTime !='' and param.endTime != null"> and create_time <![CDATA[ <= ]]>#{param.endTime} </if>
        order by status asc
    </select>
</mapper>
